*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.thinBlueLine{
    width: 100%;
    height: 5px;
    background-color: #5A72A0;
}

.navbar {
padding: 20px;
}
.navbar__right-elems {
  display: inline;   
  margin-left: 800px;  
 
}
.navbar span{
    margin-left: 50px;
      padding-top: 25px;
}
.OnePage{
    background-color: #CFEFFF;
    width: 100%;
    background-image: url(./imges/man-working-laptop-with-coffee-stationary-cartoon-vector-illustration_138676-2206.avif);
    background-position: right;
    background-repeat:no-repeat;
    background-size:contain;
    padding: 50px;
    
}

.orgBest{
    color: orange;
}
.OnePage p{
    width: 40%;
    margin-top: 20px;
}
.ReadMoreBtn{
    background-color: #CFEFFF;
    margin-top: 20px;
    padding: 15px;
}

.AboutUs{
    margin-top: 50px;
   
}

.AboutHeading{
    color: gray;
    text-align: center;
}

.aboutContent{
 background-image: url(./imges/tiny-people-working-on-website-homepage-development-optimization-setup-homepage-web-page-design-on-laptop-modern-flat-cartoon-style-illustration-on-white-background-vec.jpg);
    background-position: right;
    background-repeat:no-repeat;
    background-size:contain;
    padding: 50px;
}
.aboutContent__text{
    width: 45%;
}


